<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - E-Notice Board</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/app")

    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin-lte/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/admin-lte/plugins/Ionicons/css/ionicons.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="skin-blue-light sidebar-collapse">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="@Url.Action("Index", "Home")" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>ENB</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>E-NoticeBoard</b></span>
        </a>
        <!-- Header Navbar -->
        <div class="navbar navbar-static-top" role="navigation">
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Manage", "Manage", "Home")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.Partial("_LoginPartial")</li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </div>
        
    </header>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="main">
        <section class="content">
            @RenderBody()
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b>
            1.0.0
        </div>
        <strong>&copy; 2019 - One Harvest IT Department</strong>
    </footer>
</div>
@RenderSection("scripts", required:false)
</body>
</html>
