@model ENoticeBoard.Rock
@functions {
    public object Priority { get; set; }
}
<div>

    <dl class="dl-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RockId)
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
           @switch (Model.Priority)
            {
                case 1:
                    Priority = " Low ";
                    break;
                case 2:
                    Priority = " Medium Low";
                    break;
                case 3:
                    Priority = " Medium";
                    break;
                case 4:
                    Priority = " High";
                    break;
                case 5:
                    Priority = " Very High";
                    break;
            }
            @Priority
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Model.DateCreated.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>

        <dd>
            @Model.DateDue.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="button" id="btnDeleteRock" value="Delete" class="btn btn-primary" />

        </div>
    }
</div>

<script>
    $('#btnDeleteRock').click(function() {
        var id = $("#RockId").val();


        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteConfirmed", "Rocks")',
            dataType: 'json',
            data: { "id" : id },
            success: function (data) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Summary", "Rocks")',
                    dataType: 'html',
                    success: function (data) {
                        $('#setModalTitle').html("Rock");
                        $("#PanelModalBody").html(data);
                        $("#PanelModal").modal('show');
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });

                $('#deleteModal')
                    .modal('hide')
                    .on('hidden.bs.modal', function (e) {
                        $('#PanelModal').modal('show');

                        $(this).off('hidden.bs.modal'); // Remove the 'on' event binding
                    });
            },
            error: function(data) {
                console.log(data);
            }
        });
    });
</script>
