@using System.Web.Services.Configuration
@model Rock

<div>
    <div class="form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Subject): </label>
                @Html.DisplayFor(model => model.Subject, new { @class = "form-control" })
            </div>

            <div class="form-group form-inline">
                <label>Priority:  </label>
                <p id="priority" style="display: inline-block"></p>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.DateDue): </label>
                @Model.DateDue.ToShortDateString()
            </div>
            
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Done" class="btn btn-primary" />
            
        </div>
    }
</div>


<script>
    var priority;
    switch (@Model.Priority)
    {
        case 1: priority = "Low";
            break;
        case 2: priority="Low Medium";
            break;
        case 3: priority="Medium";
            break;
        case 4: priority="Medium High";
            break;
        case 5: priority="High";
            break;
    }
    document.getElementById("priority").innerHTML = priority;
    

</script>