@model ENoticeBoard.ViewModels.RockSummaryViewModel
<style type="text/css">
    .pull-right {
        margin-bottom: 5px;
    }
</style>
<div class="form-inline">
    <div class="pull-right">
        <div class="form-group">
            <label>Period: </label>
            @Html.DropDownListFor(m => m.SelectedPeriod, new SelectList(Model.Periodddl, "Text", "Value"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Year: </label>
            @Html.DropDownListFor(y => y.SelectedYear, new SelectList(Model.Yearddl, "Text", "Value"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="button" id="btnRefresh" name="btnRefresh" class="btn btn-default ">Refresh</button>
        </div>
    </div>
</div>
<table id="rockTb" class="table">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Priority
            </th>
            <th>
                Date Created
            </th>
            <th>
                Due Date
            </th>
            <th>
                Done
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RockWFPs)
        {
            string priority = null;
            <tr style="text-align: center">
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @switch (item.Priority)
                    {
                        case 1:
                            priority =  " Low ";
                            break;
                        case 2:
                            priority =  " Medium Low";
                            break;
                        case 3:
                            priority =  " Medium";
                            break;
                        case 4:
                            priority =  " High";
                            break;
                        case 5:
                            priority =  " Very High";
                            break;
                    }
                    <a class="hidden">@item.Priority</a> @priority
                </td>
                <td>
                    @item.DateCreated.ToShortDateString()
                </td>
                <td>
                    @item.DateDue.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Done)
                </td>
                <td>
                    <button rid="@item.RockId" name="editbtn" class="btn btn-link btn-sm Edit" aria-hidden="true">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button rid="@item.RockId" name="detailbtn" class="btn btn-link btn-sm Detail" aria-hidden="true">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button rid="@item.RockId" name="deletebtn" class="btn btn-link btn-sm Delete" aria-hidden="true">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnCloseCreate">×</button>
                <h4 class="modal-title">Rock</h4>
            </div>
            <div class="modal-body" id="createBody">
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnCloseEdit">×</button>
                <h4 class="modal-title" id="myModalLabel">Rock</h4>
            </div>
            <div class="modal-body" id="EditBody">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnCloseDelete">×</button>
                <h4 class="modal-title">You want to delete this task?</h4>
            </div>
            <div class="modal-body" id="deleteBody">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#rockTb').DataTable({
            autoWidth: false,
            columns: [
                { "width": "40%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" },
                null
            ]
        });
        DatetimePicker.applyDateTimePicker();
        
    });
    
    $('#btnRefresh').click(function() {
        var p = $("#SelectedPeriod").val();
        var y = $('#SelectedYear').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Summary","Rocks")',
            datatype: "html",
            data: { "period": p, "year": y },
            success: function (data) {

                $('#setModalTitle').html("Rock");
                $("#PanelModalBody").html(data);

            },
            error: function(data) {
                console.log(data);
            }

        });
    });
    $('.Detail').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Rocks")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#EditBody").html(data);
                $("#EditModal").modal('show');
            },
            error: function() {
                alert("Detail Failed");
            }
        });
    });
    $('.Edit').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("EditinSummary", "Rocks")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#EditBody").html(data);
                $('#EditModal').modal('show');
            },
            error: function() {
                alert("Edit Failed");
            }
        });
    });
    $('.Delete').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Rocks")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#deleteBody").html(data);
                $('#deleteModal').modal('show');
            },
            error: function() {
                alert("Delete Failed");
            }
        });
    });
    $('#btnCloseCreate').click(function () {
        $('#createModal').modal('hide');
    });
    $('#btnCloseEdit').click(function () {
        $('#EditModal').modal('hide');
    });
    $('#btnCloseDelete').click(function () {
        $('#deleteModal').modal('hide');
    });
</script>