@model ENoticeBoard.ViewModels.BreakageFormViewModel

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style type="text/css">
        .dl-horizontal dt {
            text-align: left;
            width: auto;
        }

        .dl-horizontal dd {
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Model.Date.ToShortDateString()
            </dd>

            <dt>
                Site
            </dt>

            <dd>
                @foreach (var site in Model.Sites)
                {
                    if (site.SiteId == Model.SiteId)
                    {
                        @site.Subject   
                    }
                }

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>

            <dt>
                Type
            </dt>

            <dd>
                @foreach (var type in Model.Types)
                {
                    if (type.TypeId == Model.TypeId)
                    {
                        @type.Subject
                    }
                }

            </dd>

        </dl>
    </div>
</body>
</html>