@using System.Web.Mvc.Html
@using BreakageSummaryViewFormModel = ENoticeBoard.ViewModels.BreakageSummaryViewFormModel
@model BreakageSummaryViewFormModel

<head>
    <script src="~/Scripts/datetime-moment.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-uk.js"></script>
</head>


<form class="form-inline">
    <div class="pull-left" >
        <div class="form-group">
            <button type="button" id="btnCreateBrk" name="btnCreate" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>
    </div>
    <div class="pull-right">
        <div class="form-group">
            <label>Period: </label>
            @Html.DropDownListFor(m => m.selectedPeriod, new SelectList(Model.Periodddl, "Text", "Value"), new {@class = "form-control"})
        </div>
        
        <div class="form-group">
            <label>Year: </label>
            @Html.DropDownListFor(m => m.selectedYear, new SelectList(Model.Yearddl, "Text", "Value"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="button" id="btnRefresh" name="btnRefresh" class= "btn btn-default" >Refresh</button>
        </div>
    </div>
   
</form>    
    

<table class="table table-bordered table-condensed table-responsive display table-striped" id="BreakageTB" style="word-wrap: normal; width: 100%">
    <thead>
    <tr>
        <th colspan="6">Breakage Target : $ @ViewBag.breakage.ToString("###,0.00")</th>
    </tr>
    <tr>
        <th style="width: 40%">
            Subject
        </th>
        <th style="width: 10%">
            Date
        </th>
        <th style="width: 10%">
            Site
        </th>
        <th style="width: 10%">
            Cost
        </th>
        <th style="width: 10%">
            Type
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.BreakageWFPs)
    {
        <tr style="text-align: center">
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td style="text-align: right">
                @item.Cost.ToString("#,###.00")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <button rid="@item.BreakageId" name="editbtn" class="btn btn-link btn-sm Edit" aria-hidden="true">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button rid="@item.BreakageId" name="detailbtn" class="btn btn-link btn-sm Detail" aria-hidden="true">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button rid="@item.BreakageId" name="deletebtn" class="btn btn-link btn-sm Delete" aria-hidden="true">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>


<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnCloseCreate"class="close" >×</button>
                <h4 class="modal-title">Breakage</h4>
            </div>
            <div class="modal-body" id="createBody">
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnCloseEdit">×</button>
                <h4 class="modal-title" id="myModalLabel">Breakage</h4>
            </div>
            <div class="modal-body" id="EditBody">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnCloseDelete">×</button>
                <h4 class="modal-title">You want to delete this task?</h4>
            </div>
            <div class="modal-body" id="deleteBody">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.fn.dataTable.moment( 'HH:mm MMM D, YY' );
        $('#BreakageTB').DataTable({
            autoWidth: false,
            columns: [
                { "width": "40%" },
                { "width": "10%"},
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" },
                null
            ]
        });
        var date = Date.parse('29/01/2019 12:00:00 AM'); 
        console.log(date);
        var unixTimeZero = Date.parse('18/02/2019 12:00:00 AM');
        console.log(unixTimeZero);

    });
    
    $('#btnRefresh').click(function() {
        var p = $("#selectedPeriod").val();
        var y = $('#selectedYear').val();
       
        $.ajax({
            type: "POST",
            url: '@Url.Action("Summary","Breakages")',
            datatype: "html",
            data: { "period": p, "year": y },
            success: function (data) {
            
                $('#setModalTitle').html("Breakage");
                $("#PanelModalBody").html(data);
             
            },
            error: function(data) {
                console.log(data);
            }

        });
    });
    $('#btnCreateBrk').click(function() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Breakages")',
            dataType: 'html',
            success: function(data) {
                console.log(data);
                $("#createBody").html(data);
                $('#createModal').modal('show');

            },
            //compelete: function(data) {
            //    $('#createModal').modal('hide');
            //}
            error: function (data) {
                console.log(data);

                alert("Create Failed");
            }
        });
    });
    
    
    $('.Detail').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Breakages")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#EditBody").html(data);
                $("#EditModal").modal('show');
            },
            error: function() {
                alert("Detail Failed");
            }
        });
    });
    $('.Edit').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Breakages")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#EditBody").html(data);
                $('#EditModal').modal('show');
            },
            error: function() {
                alert("Edit Failed");
            }
        });
    });
    
    $('.Delete').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Breakages")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#deleteBody").html(data);
                $('#deleteModal').modal('show');
            },
            error: function() {
                alert("Delete Failed");
            }
        });
    });
    $('#btnCloseCreate').click(function () {
        $('#createModal').modal('hide');
    });
    $('#btnCloseEdit').click(function () {
        $('#EditModal').modal('hide');
    });
    $('#btnCloseDelete').click(function () {
        $('#deleteModal').modal('hide');
    });
</script>