@model IEnumerable<ENoticeBoard.ViewModels.RockFormViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .EditRock {
        padding: 0
    }

    .DelRock {
        padding: 0
    }

    .DoneRock {
        padding: 0;
    }

    .modal-backdrop {
        position: unset;
    }

    #PanelModal {
        height: 70%;
    }

    #PanelExtend {
        height: 70%;
    }

    .skip-links {
        position: absolute;
        left: -999em;
        width: 990em;
    }

    .skip-links:active, .skip-links:focus {
        left: -8.5em;
        border: 3px #3399cc solid;
        background-color: #fff;
    }
    .body-content {
        padding-top: 15px;
    }
    .fc-sat, .fc-sun {
        background-color: rgb(250, 250, 250);
    }
    .fc-event {
        font-size: 1em;
    }
</style>
<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.downtime min</div>
                        <div>Down Time!</div>
                    </div>
                </div>
            </div>
            <a id="downtimePanel" class="pointer">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">$@Convert.ToDecimal(ViewBag.breakageCost)</div>
                        <div>Breakage Cost!</div>
                    </div>
                </div>
            </div>
            <a id="breakagepanel" class="pointer">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">$@Convert.ToDecimal(ViewBag.objectSpend)</div>
                        <div>Spend Budget!</div>
                    </div>
                </div>
            </div>
            <a id="budgetpanel" class="pointer">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        
        <button name="btnCreate" id="btnCreate" class="btn btn-link btn-sm" aria-hidden="true"><span class="glyphicon glyphicon-plus"></span></button>
        <label>Rock List</label>
    </div>
    <div class="panel-body">
        <table class="table container-fluid table-condensed table-responsive">
            <tr style="text-align: center">
                <th style="width: 75% !important">
                

                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    Due Date
                </th>
                <th> </th>
                <th> </th>
            </tr>

            @foreach (var item in Model)
            {
                var datedif = item.DateDue - DateTime.Today;
                string color;
                if (item.Priority == 1)
                {
                    color = "alert-primary";
                }
                else if (item.Priority == 2)
                {
                    color = "alert-info";
                }
                else if (item.Priority == 3)
                {
                    color = "alert-success";
                }
                else if (item.Priority == 4)
                {
                    color = "alert-warning";
                }
                else
                {
                    color = "alert-danger";
                }
                <tr class="@color h4" role="alert" style="text-align: center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>

                        @item.DateDue.ToShortDateString()
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.RockId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RockId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RockId })*@
                        <button rid="@item.RockId" data-url="@Url.Action("Edit","Rocks")"name="editbtn" class="btn btn-link btn-sm EditRock" aria-hidden="true"><span class="glyphicon glyphicon-edit"></span></button>
                        <button rid="@item.RockId" data-url="@Url.Action("Done","Rocks")"name="donebtn" class="btn btn-link btn-sm DoneRock" aria-hidden="true"><span class="glyphicon glyphicon-ok"></span></button>

                    </td>
                    <td>

                        @if (item.DateDue < DateTime.Today)
                        {
                            <button type="button" class="btn btn-block btn-danger" style="float: right">Over</button>
                        }
                        else if (item.DateDue == DateTime.Today)
                        {
                            <button type="button" class="btn btn-block btn-info" style="float: right">Today</button>

                        }
                        else if (datedif.Days > 0 && datedif.Days <= 9)
                        {
                            <button type="button" class="btn btn-block btn-default" style="float: right"> @datedif.Days days </button>

                        }

                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<div id="CreateRockModal" class="modal fade" role="dialog" aria-labelledby="Add Missing Info" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="eventTitle">Rock</span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateRock">
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" id="txtSubject" name="txtSubject" class="form-control" />
                        </div>


                        <div class="form-group">
                            <Label>Priority</Label>
                            <select id="ddlPriority" name="ddlPriority" class="form-control">
                                <option value="1">Low</option>
                                <option value="2">Medium Low</option>
                                <option value="3">Medium</option>
                                <option value="4">High</option>
                                <option value="5">Very High</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Due Date</label>
                            <input type="datetime" id="txtDate" name="txtDate" class="form-control " />
                        </div>
                    </div>

                    <button type="button" id="btnSave" data-url="@Url.Action("Create","Rocks")" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditRockModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Rock</h4>
            </div>
            <div class="modal-body" id="EditModalBody">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteRockModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Are you sure you want to delete this?</h4>
            </div>
            <div class="modal-body" id="DeleteModalBody">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DoneRockModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">You want to set DONE to this task?</h4>
            </div>
            <div class="modal-body" id="DoneModalBody">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PanelModal" role="dialog">
    <div id="PanelExtend" class="modal-dialog modal-lg">
        <div id="PanelBody" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="setModalTitle"></h4>
            </div>
            <div class="modal-body" id="PanelModalBody">
            </div>
        </div>
    </div>
</div>




@*Calendar*@

<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn btn-link btn-sm" aria-hidden="true"><span class="glyphicon glyphicon-calendar"></span></button>
        <label>Schedule Calendar</label>
    </div>
    <div class="panel-body">
    <div id="calender"></div>
    <div id="myCalModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span id="eventTitle"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <button id="btnDeleteCalCal" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                    <button id="btnEditCalCal" class="btn btn-default btn-sm pull-right" style="margin-right: 5px;">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


        <div id="myCalModalSave" class="modal fade" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save Event</h4>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" id="hdEventID" value="0"/>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" id="txtSubjectCal" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Start</label>
                            <div class="input-group date" id="dtp1">
                                <input type="text" id="txtStart" class="form-control"/>
                                <span class=" input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" id="divEndDate" style="display: block">
                            <label>End</label>
                            <div class="input-group date" id="dtp2">
                                <input type="text" id="txtEnd" class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Theme Color</label>
                            <select id="ddThemeColor" class="form-control">
                                <option value="">Default</option>
                                <option value="crimson">Andrew</option>
                                <option value="lightcoral">Angela</option>
                                <option value="SlateBlue">Ash</option>
                                <option value="purple">Brad</option>
                                <option value="indego">Felipe</option>
                                <option value="orange">Miles</option>
                                <option value="green">Peter</option>
                                <option value="black">Sam</option>



                            </select>
                        </div>
                        <button type="button" id="btnSaveCal" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    
    <script type="text/javascript" src="~/Scripts/app/app.js"></script>
    <script>
        $(document).ready(function () {

            DatetimePicker.applyDateTimePicker();
            RockController.create();
            RockController.save();
            RockController.edit();
            RockController.done();
            

            
            $('#budgetpanel').click(function() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Summary", "Objects")',

                    dataType: 'html',
                    success: function(data) {
                        $('#setModalTitle').html("Budget");
                        $("#PanelModalBody").html(data);
                        $("#PanelModal").modal('show');

                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });

            $('#breakagepanel').click(function() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Summary", "Breakages")',

                    dataType: 'html',
                    success: function(data) {
                        $('#setModalTitle').html("Breakage");
                        $("#PanelModalBody").html(data);
                        $("#PanelModal").modal('show');

                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });
            $('#downtimePanel').click(function() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Summary", "Downtimes")',

                    dataType: 'html',
                    success: function(data) {
                        $('#setModalTitle').html("DownTime");
                        $("#PanelModalBody").html(data);
                        $("#PanelModal").modal('show');

                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });

        });

        $(document).on('show.bs.modal',
            '.modal',
            function() {
                var zIndex = 1040 + (10 * $('.modal:visible').length);
                $(this).css('z-index', zIndex);
                setTimeout(function() {
                        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
                    },
                    0);
            });

    </script>











    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <style type="text/css">
        .fc-event {
            font-size: 1em;
            font-weight: 900;
        }
    </style>
    <script>
        $(document).ready(function() {
            var events = [];
            var selectedEvent = null;
            fetchEventAndRenderCalendar();

            function fetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetEvents", "Home")',
                    success: function(data) {
                        $.each(data,
                            function(i, v) {
                                events.push({
                                    eventID: v.EventID,
                                    title: v.Subject,
                                    description: v.Description,
                                    start: moment(v.Start),
                                    end: v.End != null ? moment(v.End) : null,
                                    color: v.ThemeColor,
                                    allDay: v.IsFullDay
                                });
                            });

                        generateCalender(events);
                    },
                    error: function() {
                        alert('failed');
                    }
                });
            }

            function generateCalender(events) {
                $('#calender').fullCalendar('destroy');

                $('#calender').fullCalendar({
                    contentHeight: 700,
                    firstDay: 6,
                    defaultView: 'startWeekView',
                    displayEventTime: false,
                    weekNumbers: true,
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'startWeekView,month'
                    },
                    views: {
                        startWeekView: {
                            type: 'month',
                            duration: { weeks: 5 },
                            buttonText: 'week'

                        }
                    },
                    eventColor: '#378006',
                    events: events,
                    eventClick: function(calEvent) {
                        selectedEvent = calEvent;
                        $('#myCalModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD/MM/YYYY")));
                        if (calEvent.end != null) {

                            var ed = moment(calEvent.end).toDate();
                            ed.setDate(ed.getDate() - 1);

                            $description.append($('<p/>').html('<b>End:</b>' + ed.toLocaleDateString("en-GB")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myCalModal #pDetails').empty().html($description);

                        $('#myCalModal').modal();
                    },
                    selectable: true,
                    select: function(start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();

                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function(event) {
                        var data = {
                            EventID: event.eventID,
                            Subject: event.title,
                            Start: event.start.format('DD/MM/YYYY'),
                            End: event.end != null ? event.end.format('DD/MM/YYYY') : null,
                            Description: event.description,
                            ThemeColor: event.color,
                            IsFullDay: event.allDay
                        };
                        saveEvent(data);
                    }
                });
            }

            $('#btnEditCalCal').click(function() {
                //Open modal dialog for edit event
                openAddEditForm();
            });
            $('#btnDeleteCalCal').click(function() {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '/home/DeleteEvent',
                        data: { 'eventID': selectedEvent.eventID },
                        success: function(data) {
                            if (data.status) {
                                //Refresh the calender
                                fetchEventAndRenderCalendar();
                                $('#myCalModal').modal('hide');
                            }
                        },
                        error: function() {
                            alert('Failed');
                        }
                    });
                }
            });

            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY'
            });


            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent.eventID);
                    $('#txtSubjectCal').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY'));
                    var ed = moment(selectedEvent.end).toDate();
                    ed.setDate(ed.getDate() - 1);
                    $('#txtEnd').val(selectedEvent.end != null ? ed.toLocaleDateString("en-GB") : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myCalModal').modal('hide');
                $('#myCalModalSave').modal();
            }

            $('#btnSaveCal').click(function() {
                //Validation/
                if ($('#txtSubjectCal').val().trim() === "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() === "") {
                    alert('Start date required');
                    return;
                }
                if ($('#txtEnd').val().trim() === "") {
                    alert('End date required');
                    return;
                } else {
                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY").toDate();
                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                }
                var end = moment($('#txtEnd').val(), "DD/MM/YYYY").toDate();
                end.setDate(end.getDate() + 1);
                var data = {
                    EventID: $('#hdEventID').val(),
                    Subject: $('#txtSubjectCal').val().trim(),
                    Start: $('#txtStart').val().trim(),
                    End: $('#chkIsFullDay').is(':checked') ? null : end.toLocaleDateString("en-GB").trim(),
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked')
                }
                saveEvent(data);
                // call function for submit data to the server
            });

            function saveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/home/SaveEvent',
                    data: data,
                    success: function(data) {
                        if (data.status) {
                            //Refresh the calender
                            fetchEventAndRenderCalendar();
                            $('#myCalModalSave').modal('hide');
                        }
                    },
                    error: function() {
                        alert('Failed');
                    }
                });
            }
        });
    </script>
}
