
@using System.Drawing
@using ManageFormViewModel = ENoticeBoard.ViewModels.ManageFormViewModel
@model ManageFormViewModel

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
</head>
<body>
    <h2>Manage</h2>

    @if (Model == null)
    {
        <div class="alert alert-danger">
            <div class="h4">Unauthorized</div>
            <p>Only admin can access this page.</p>
        </div>
    }
    else
    {
        <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-list-alt fa-fw"></i> 
                    <h3 class="box-title">User List</h3>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <button type="button" id="btnAddUser" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                    <table class="table table-bordered table-condensed table-responsive display table-striped" id="userTB" style="word-wrap: normal; width: 100%">
                        <thead>
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Role
                            </th>
                            <th>

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td style="background:@item.Color">
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                    <button rid="@item.UserId" aria-hidden="true" class="btn btn-link btn-sm Edit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button rid="@item.UserId" aria-hidden="true" class="btn btn-link btn-sm Detail">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <button rid="@item.UserId" aria-hidden="true" class="btn btn-link btn-sm Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>


                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

            <div class="col-lg-4 col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                        <h3 class="box-title">Target List</h3>
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-condensed table-responsive display table-striped" id="targetTB" style="word-wrap: normal; width: 100%">
                            <thead>
                            <tr>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Target
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Targets)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TargetNum)
                                    </td>
                                    <td>
                                        <button rid="@item.TargetId" aria-hidden="true" class="btn btn-link btn-sm targetEdit">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <button rid="@item.TargetId" aria-hidden="true" class="btn btn-link btn-sm targetDetail">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </button>
                                        </td>


                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="userModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="javascript: window.location.reload();" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="userBody">
                @Html.Partial("Create", "Users")
            </div>
        </div>
    </div>
</div>
</div>
    }
</body>
@section Scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

<script>


    $('#btnAddUser').click(function() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Users")',
            dataType: 'html',
            success: function(data) {
                console.log(data);
                $('#myModalLabel').html("User");
                $("#userBody").html(data);
                $('#userModal').modal('show');

            },
            //compelete: function(data) {
            //    $('#createModal').modal('hide');
            //}
            error: function(data) {
                console.log(data);

                alert("Create Failed");
            }
        });
    });
    $("#userModal").on("submit", "#User", function(e) {
        e.preventDefault();  // prevent standard form submission

        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            method: form.attr("method"),  // post
            data: form.serialize(),
            success: function (partialResult) {
                $("#userBody").html(partialResult);
            }
        });
    });
    $("#userModal").on("submit", "#Target", function (e) {
        e.preventDefault();  // prevent standard form submission

        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            method: form.attr("method"),  // post
            data: form.serialize(),
            success: function (partialResult) {
                $("#userBody").html(partialResult);
            }
        });
    });
    $('.Detail').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Users")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {
                $('#myModalLabel').html("User");
                $("#userBody").html(data);
                $("#userModal").modal('show');
            },
            error: function() {
                alert("Detail Failed");
            }
        });
    });
    $('.Edit').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Users")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {
                $('#myModalLabel').html("User");
                $("#userBody").html(data);
                $('#userModal').modal('show');
            },
            error: function() {
                alert("Edit Failed");
            }
        });
    });

    $('.Delete').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Users")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {
                $('#myModalLabel').html("User");
                $("#userBody").html(data);
                $('#userModal').modal('show');
            },
            error: function() {
                alert("Delete Failed");
            }
        });
    });
    $('.targetDetail').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Targets")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {
                $('#myModalLabel').html("Target");
                $("#userBody").html(data);
                $("#userModal").modal('show');
            },
            error: function() {
                alert("Detail Failed");
            }
        });
    });
    $('.targetEdit').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Targets")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {
                $('#myModalLabel').html("Target");
                $("#userBody").html(data);
                $('#userModal').modal('show');
            },
            error: function() {
                alert("Edit Failed");
            }
        });
    });

    $('.targetDelete').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Targets")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {
                $('#myModalLabel').html("Target");
                $("#userBody").html(data);
                $('#userModal').modal('show');
            },
            error: function() {
                alert("Delete Failed");
            }
        });
    });
</script>