@model List<ENoticeBoardMstr>

<table class="table table-bordered table-condensed table-responsive display table-striped" id="ticketTB" style="word-wrap: normal; width: 100%">
    <thead>
    <tr>
        <th width="50%">Summary</th>
        
        <th width="10%">Date Created </th>
        <th width="10%">Date Updated</th>
        
        <th width="10%">Assigned</th>


    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
        {
            <tr style="text-align: center">
                <td>@if (t.LastName != null && t.LastName.Length > 35)
                    {
                        @t.LastName.Substring(0, 35)
                    }
                    else
                    {
                        @t.LastName
                    }</td>
                
                <td>@t.CreatedAt</td>
                <td>@t.UpdatedAt</td>
                
                <td>@t.FirstName @t.Summary</td>
            </tr>
        }
   
    </tbody>
</table>
<script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-euro.js"></script>
<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YY HH:mm:ss');
        $('#ticketTB').DataTable({
            aoColumnDefs: [
                { "aTargets": [1,2], "sType": "date-euro" }
            ]
            });

    });

    
</script>