@model ENoticeBoard.ViewModels.ObjectSummaryViewModel


<style type="text/css">
    .btn-primary {
        margin-bottom: 5px;
        margin-right: 5px;
    }
    btn-link {
        border: 5px solid black;
    }
    .pull-right {
        margin-bottom: 5px;
    }
</style>

<form class="form-inline">
    <div class="form-group">
        <button type="button" id="btnCreateObj" name="btnCreate" class="btn pull-left glyphicon glyphicon-plus" aria-hidden="true"></button>
    </div>
    <div class="pull-right">
        <div class="form-group">
            <label>Period: </label>
            @Html.DropDownListFor(m => m.SelectedPeriod, new SelectList(Model.Periodddl, "Text", "Value"), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Year: </label>
            @Html.DropDownListFor(m => m.SelectedYear, new SelectList(Model.Yearddl, "Text", "Value"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="button" id="btnRefresh" name="btnRefresh" class="btn">Refresh</button>
        </div>
    </div>

</form>


<table class="table table-bordered table-condensed table-responsive display table-striped" id="BudgetTb"style="word-wrap: normal;table-layout: fixed">
    <thead>
    <tr>
        <th colspan="5">Budget Target: $ @ViewBag.budget.ToString("#,###.00")</th>
    </tr>
    <tr>
        <th style="width: 40% !important">
            Object
        </th>
        <th style="width: 10%">
            Date
        </th>
        <th style="width: 10%">
            Cost
        </th>
        <th style="width: 25%">
            Description
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ObjectWFPs)
        {
            <tr style="text-align: center">
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectName)
                </td>
                <td>

                    @item.Date.ToShortDateString()
                </td>
                <td style="text-align: right">

                    @item.Cost.ToString("#,###.00")
                </td>
                <td>

                    @if (item.Description != null && item.Description.Length > 25)
                    {
                        @item.Description.Substring(0, 25)
                    }
                    else
                    {
                        @item.Description
                    }


                </td>
                <td>
                    <button rid="@item.ObjectId" name="editbtn" class="btn btn-link btn-sm Edit" aria-hidden="true">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button rid="@item.ObjectId" name="detailbtn" class="btn btn-link btn-sm Detail" aria-hidden="true">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button rid="@item.ObjectId" name="deletebtn" class="btn btn-link btn-sm Delete" aria-hidden="true">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnCloseCreate" class="close">×</button>
                <h4 class="modal-title">Object</h4>
            </div>
            <div class="modal-body" id="createBody">
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnCloseEdit" class="close">×</button>
                <h4 class="modal-title" id="myModalLabel">Object</h4>
            </div>
            <div class="modal-body" id="EditBody">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnCloseDelete" class="close" >×</button>
                <h4 class="modal-title">You want to delete this task?</h4>
            </div>
            <div class="modal-body" id="deleteBody">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#BudgetTb').DataTable({
            autoWidth: false,
            columns: [
                { "width": "40%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "25%" },
                null
            ]
        });

    });

    $('#btnRefresh').click(function() {
        var p = $("#SelectedPeriod").val();
        var y = $('#SelectedYear').val();
       
        $.ajax({
            type: "POST",
            url: '@Url.Action("Summary","Objects")',
            datatype: "html",
            data: { "period": p, "year": y },
            success: function (data) {
            
                $('#setModalTitle').html("Object");
                $("#PanelModalBody").html(data);
             
            },
            error: function(data) {
                console.log(data);
            }

        });
    });
    $('#btnCreateObj').click(function() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Objects")',
            dataType: 'html',
            success: function(data) {

                $("#createBody").html(data);
                $('#createModal').modal('show');

            },
            //compelete: function(data) {
            //    $('#createModal').modal('hide');
            //}
            error: function() {
                alert("Create Failed");
            }
        });
    });
    $('.Detail').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Objects")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#EditBody").html(data);
                $("#EditModal").modal('show');
            },
            error: function() {
                alert("Detail Failed");
            }
        });
    });
    $('.Edit').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Objects")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#EditBody").html(data);
                $('#EditModal').modal('show');
            },
            error: function() {
                alert("Edit Failed");
            }
        });
    });

    $('.Delete').click(function() {
        var id = $(this).attr("rid");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Objects")',
            data: { "id": id },
            dataType: 'html',
            success: function(data) {

                $("#deleteBody").html(data);
                $('#deleteModal').modal('show');
            },
            error: function() {
                alert("Delete Failed");
            }
        });
    });
    $('#btnCloseCreate').click(function () {
        $('#createModal').modal('hide');
    });
    $('#btnCloseEdit').click(function () {
        $('#EditModal').modal('hide');
    });
    $('#btnCloseDelete').click(function () {
        $('#deleteModal').modal('hide');
    });
</script>